@page

@*ViewData["Title"] = "Home Page";
@{    
        string email = Request.Form["email"];
        string senha = Request.Form["senha"];

        <text>
          You entered: <br />
          Company Name: @email <br />
          Contact Name: @senha <br />
        </text>    
}*@

<div class="text-center">
    <h1 class="display-4">Login</h1>
    <p>Learn about <a href="https://discord.gg/D7MPGCeN">Sueter 4</a>.</p>
</div>

<body>
      <form method="post" >
<fieldset>
          <legend>Entrar na conta</legend>
          <div>
            <label for="email">Email:</label>
            <input type="text" name="CompanyName" placeholder="Email@email.com" value="" />
          </div>
          <div>
            <label for="senha">Senha:</label>
            <input type="password" name="ContactName" value="" />
          </div>
          <div>
            <input type="submit" value="Login" class="submit" />
          </div>
        </fieldset>
      </form>
    </body>