@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<p>Developed by Sueter 4.</p>

<address>
    <strong>
        Linkedin 
    </strong>

    <a href="https://www.linkedin.com/in/erley-johnson-549893175/">Erley Jonhson</a>
    <a href="https://www.linkedin.com/in/alvesphugo/">Hugo Alves</a>
    <a href="https://www.linkedin.com/in/davi-gomes-b94892253/">Davi Gomes</a>
</address>
